name: FFmpeg Android ARMv7 FULL

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y \
        yasm nasm pkg-config \
        wget unzip git

    - name: Download Android NDK r21e
      run: |
        wget -O ndk.zip https://dl.google.com/android/repository/android-ndk-r21e-linux-x86_64.zip
        unzip ndk.zip

    - name: Clone FFmpeg 3.4.13
      run: |
        git clone https://github.com/FFmpeg/FFmpeg.git
        cd FFmpeg
        git checkout n3.4.13

    - name: Build FFmpeg FULL (armeabi-v7a)
      run: |
        export NDK=$PWD/android-ndk-r21e
        export TOOLCHAIN=$NDK/toolchains/llvm/prebuilt/linux-x86_64
        export CC=$TOOLCHAIN/bin/armv7a-linux-androideabi21-clang

        cd FFmpeg
        make clean || true

        ./configure \
        --target-os=android \
        --arch=arm \
        --cpu=armv7-a \
        --enable-cross-compile \
        --cc=$CC \
        --sysroot=$TOOLCHAIN/sysroot \
        --enable-shared \
        --disable-static \
        --enable-gpl \
        --enable-version3 \
        --enable-neon \
        --enable-asm \
        --enable-avcodec \
        --enable-avformat \
        --enable-avutil \
        --enable-swscale \
        --enable-swresample \
        --disable-avdevice \
        --disable-doc \
        --disable-debug \
        --disable-programs

        make -j$(nproc)

    - name: Upload FFmpeg ARMv7 libs
      uses: actions/upload-artifact@v4
      with:
        name: ffmpeg-armeabi-v7a-full
        path: FFmpeg/*.so
